body {
    font-family: arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

h3, p{
    color: white;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.car {
    border: 1px solid white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car h3 {
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.car a {
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
}

.car a:hover {
    background-color: black;
    color: white;
}

